# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\FPT_Polytechnic\Ky_5\SOF3011-Java4\Thuc_Hanh\btvn_buoi12\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
